<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    <!--  Link de css -->
    <link rel="stylesheet" href="../CSS/Video.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Creative Studios</title>
</head>

<body>
    <div class="d-flex mamando ">
        <nav class="navbar navbar2 navbar-light bg-light fixed-top">
    
          <a class="navbar-brand p-0" href="#">Diseño web</a>
          <a class="navbar-brand p-0" href="#">Programacion</a>
          <a class="navbar-brand p-0" href="#">C</a>
          <a class="navbar-brand p-0" href="#">Ciencias</a>
          <a class="navbar-brand p-0" href="#">Ciencias</a>
          <a class="navbar-brand p-0" href="#">Ciencias</a>
        </nav>
      </div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="namep">
            <img class="imageno m-0 pb-1" src="../IMG/C.png" width="35px">
            <a class="navbar-brand titulo" href="IndexNuevo.html">Creative Studios</a>
        </div>
        <button id="botonazo" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form class=" form1 form-inline mx-auto justify-content-center">
                <input class="buscador form-control mr-sm-2 justify-content-center" type="search" placeholder="Search"
                    aria-label="Search" style="width: 260px;">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <div class="grupo ml-auto">
                <ul class="navbar-nav text-center ml-auto mt-2"
                    style="flex-direction: row; justify-content: space-evenly;">

                    <!-- Button trigger modal -->
                    <li class="nav-item titulo" data-toggle="modal" data-target="#exampleModal">
                        <a class="COLORL nav-link titulo" href="#">Inicia sesión</a>
                    </li>
                    <!-- Button trigger modal2 -->
                    <li class="nav-item titulo" data-toggle="modal" data-target="#exampleModal2">
                        <a class="COLORL nav-link titulo" href="#">Registrate</a>
                    </li>

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="imageno m-0 pb-0 rounded-circle" src="../IMG/photoshop.png" width="25px">
                        Dropdown
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="d-flex inicio justify-content-center mx-auto" style="padding-top: 140px;">
        <h1 style="color: white;"></h1>
    </div>
    <section class=" cursos d-flex " id="home" data-scroll-index="0">
        <div class="container pt-4 mt-5 mb-5 ">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-8 col-sm-12">

                    <video class="jutify-content-center shadow" src="" width="100%" height="auto" poster=""
                        style="background-color: black;"></video>
                    <div class=" mr-auto titulon">
                        <h2>Video de prueba</h2>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis ipsum, temporibus
                        obcaecati placeat at aut dolorum, ullam corporis alias repellendus consectetur velit et nam,
                        nostrum est similique aspernatur numquam aperiam voluptatum pariatur cupiditate itaque fugiat
                        iste? Eligendi dolores voluptatibus vero dolorum
                        alias eaque repellat sint omnis dolore eos, inventore eum.</p>
                </div>
                <div class="commentsec mx-auto0 pt-3">
                    <h1 class="mx-auto">Comment Section</h1>
                </div>
                <div class="col-lg-12 col-md-8 col-sm-12">
                    <div class="card p-3 mt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="user d-flex flex-row align-items-center"> <img
                                    src="https://i.imgur.com/ZSkeqnd.jpg" width="30"
                                    class="user-img rounded-circle mr-2"> <span><small
                                        class="font-weight-bold text-primary">@rashida_jones :</small> <small
                                        class="font-weight-bold">El mejor video que he visto acerca de
                                        photoshop</small></span>
                            </div>
                            <small>1 min ago</small>
                        </div>
                    </div>
                    <div class="card p-3 mt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="user d-flex flex-row align-items-center"> <img
                                    src="https://i.imgur.com/ZSkeqnd.jpg" width="30"
                                    class="user-img rounded-circle mr-2"> <span><small
                                        class="font-weight-bold text-primary">@rashida_jones :</small> <small
                                        class="font-weight-bold">El mejor video que he visto acerca de
                                        photoshop</small></span>
                            </div>
                            <small>1 min ago</small>
                        </div>
                    </div>
                    <div class="card p-3 mt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="user d-flex flex-row align-items-center"> <img
                                    src="https://i.imgur.com/ZSkeqnd.jpg" width="30"
                                    class="user-img rounded-circle mr-2"> <span><small
                                        class="font-weight-bold text-primary">@rashida_jones :</small> <small
                                        class="font-weight-bold">El mejor video que he visto acerca de
                                        photoshop</small></span>
                            </div>
                            <small>1 min ago</small>
                        </div>
                    </div>
                    <div class="card p-3 mt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="user d-flex flex-row align-items-center"> <img
                                    src="https://i.imgur.com/ZSkeqnd.jpg" width="30"
                                    class="user-img rounded-circle mr-2"> <span><small
                                        class="font-weight-bold text-primary">@rashida_jones :</small> <small
                                        class="font-weight-bold">El mejor video que he visto acerca de
                                        photoshop</small></span>
                            </div>
                            <small>1 min ago</small>
                        </div>
                    </div>
                    <div class="card p-3 mt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="user d-flex flex-row align-items-center"> <img
                                    src="https://i.imgur.com/ZSkeqnd.jpg" width="30"
                                    class="user-img rounded-circle mr-2"> <span><small
                                        class="font-weight-bold text-primary">@rashida_jones :</small> <small
                                        class="font-weight-bold">El mejor video que he visto acerca de
                                        photoshop</small></span>
                            </div>
                            <small>1 min ago</small>
                        </div>
                    </div>
                    <div class="card p-3 mt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="user d-flex flex-row align-items-center"> <img
                                    src="https://i.imgur.com/ZSkeqnd.jpg" width="30"
                                    class="user-img rounded-circle mr-2"> <span><small
                                        class="font-weight-bold text-primary">@rashida_jones :</small> <small
                                        class="font-weight-bold">El mejor video que he visto acerca de
                                        photoshop</small></span>
                            </div>
                            <small>1 min ago</small>
                        </div>
                    </div>
                </div>
                <form action="" class="col-lg-12 col-md-8 col-sm-12">
                    <div class="comentarios"></div>
                    <div class="form-group">
                        <label for="comment">Comentario:</label>
                        <textarea class="form-control" rows="2" id="comment"></textarea>
                    </div>
            </div>
            <div class=" botonsub justify-content-between">
                <button type="button" class="btn btn-dark">Comentar</button>
                <button type="button" class="btn btn-dark">Cancelar</button>
            </div>

            </form>

        </div>
        </div>
    </section>
    <footer class=" text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0 mt-3">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i
                class="fab fa-facebook-f"></i></a>
    
            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i
                class="fab fa-twitter"></i></a>
    
            <!-- Google -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button"><i
                class="fab fa-google"></i></a>
    
            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i
                class="fab fa-instagram"></i></a>
    
            <!-- Linkedin -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i
                class="fab fa-linkedin-in"></i></a>
            <!-- Github -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="#!" role="button"><i
                class="fab fa-github"></i></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
        <div class="text-center p-3" style="color: black;">
          © 2021 Copyright:
          <a class="text-black" href="https://mdbootstrap.com/" style="color: black;">Creative Studios</a>
        </div>
        <!-- Copyright -->
      </footer>
    <!-- Modal -->
    <div class="modal fade modalon mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  " style="width:400px;">
            <div class="modal-content  modalon2">
                <button type="button" class="close ml-auto pr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class=" col-12 ">
                    <div class="modal-body">
                        <div class="form-title text-center">
                            <h4>Inicia sesión</h4>
                        </div>


                        <form>
                            <div class="form-group pl-5 pr-5">
                                <a>Correo electronico</a>
                                <input type="email" class="form-control" id="email1"
                                    placeholder="Ingresa tu correo electronico">
                            </div>
                            <div class="form-group pl-5 pr-5">
                                <a>Contraseña</a>
                                <input type="password" class="form-control" id="password1"
                                    placeholder="Ingresa tu contraseña">
                            </div>
                            <div class="grupo text-center pt-3">
                                <button type="button" class="btn btn-primary btn-md ">Small button</button>
                            </div>
                        </form>


                        <div class="text-center text-muted delimiter pt-2">or use a social network</div>
                        <div class="text-center pt-3">
                            <a class="text-muted text-hover-primary " href="#" target="_blank" title="instagram">
                                <i class="fab fa-instagram" style="font-size: 25px;"></i>
                            </a>

                            <a class="text-muted text-hover-primary " href="#" target="_blank" title="facebook">
                                <i class="fab fa-facebook" style="font-size: 25px;"></i>
                            </a>

                            <a class="text-muted text-hover-primary " href="#" target="_blank" title="twitter">
                                <i class="fab fa-twitter" style="font-size: 25px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade modalon mt-5" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  " style="width:400px;">
            <div class="modal-content  modalon2">
                <button type="button" class="close ml-auto pr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class=" col-12 ">
                    <div class="modal-body">
                        <div class="form-title text-center">
                            <h4>Crea una cuenta.</h4>
                        </div>
                        <form>
                            <div class="form-group pl-5 pr-5">
                                <a>Nombre completo</a>
                                <input type="text" class="form-control" id="text" placeholder="Escribe tu nombre">
                            </div>
                            <div class="form-group pl-5 pr-5">
                                <a>Correo electronico</a>
                                <input type="email" class="form-control" id="email1" placeholder="Ingresa tu correo">
                            </div>
                            <div class="form-group pl-5 pr-5">
                                <a>Contraseña</a>
                                <input type="password" class="form-control" id="password1"
                                    placeholder="Ingresa tu contraseña">
                            </div>
                            <div class="grupo text-center pt-3">
                                <button type="button" class="btn btn-primary btn-md ">Small button</button>
                            </div>
                        </form>
                        <div class="text-center text-muted delimiter pt-2">or use a social network</div>
                        <div class="text-center pt-3">
                            <a class="text-muted text-hover-primary " href="#" target="_blank" title="instagram">
                                <i class="fab fa-instagram" style="font-size: 25px;"></i>
                            </a>
                            <a class="text-muted text-hover-primary " href="#" target="_blank" title="facebook">
                                <i class="fab fa-facebook" style="font-size: 25px;"></i>
                            </a>
                            <a class="text-muted text-hover-primary " href="#" target="_blank" title="twitter">
                                <i class="fab fa-twitter" style="font-size: 25px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
    <!-- Optional JavaScript -->
    <script src="../JS/Video.js"></script>
</body>

</html>