.fondo_curso{
    object-fit: cover;
}
.COLORL{
    color: white !important;
}

.ver_todos{
    cursor: pointer;
}

.ver_todos:hover{
    text-decoration: underline !important;
}

.btn-main{
    color: #fff;
    background-color: rgba(49,92,101,1);
    border-color: rgba(49,92,101,1);
}

.btn-second{
    color: #fff;
    background-color: rgba(50,38,38,1);
    border-color: rgba(50,38,38,1);
}

.dropN{
    width: -webkit-fill-available !important;
    position: absolute ;
    transform: translate3d(0px, 0px, 0px) !important; 
    top: auto !important;
}

.chatFloat{
    position: fixed;
    bottom:0px;
    right: 0px;
    z-index: 3000;
}

.chatFloat2{
    position: fixed;
    bottom:-350px;
    right: 0px;
    z-index: 3000;
}

.input-custom-button{
    background-color: rgba(49,92,101,1) !important;
    color: #fff !important;
}
.title{
    background-color: rgba(49,92,101,1) !important;
    color: #fff !important;
}