@media only screen and (max-width: 600px) {
    body {
      background-color: black;
    }
  }


*{

background-color: bla;
}

.body{
 background-color: brown;
}

.titulo{
    color: white;
}


.navbar2{
 
  
height:45px; 

}



.navbar{

    background-color:transparent;
    transition: all .5s ease;
    
}
.navbar2.deslizar{
    padding-top:20px;
    transition: all 1s ease;
    height: 80px;
    top: 45px;
 
 }


.navbar.transicion{

    background-color: rgb(39, 38, 38);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.navbar.abierto{

    background-color: rgb(39, 38, 38);

}
.inicio{
    
    background: rgb(49,92,101);
    background: linear-gradient(90deg, rgba(49,92,101,1) 9%, rgba(50,38,38,1) 100%);
}
.inicio-text h1{
    font-size: 20px;
    color: white;

}
.inicio-text p{
 
    color: white;

}
.botonR{

  
}
.row-inicio{

    padding-top: 20px;

    

}
.carousel-item img{

    max-width: 450px;

}

.division1{

    margin-top: 20px;
    padding-top: 1px;
}
.fondocategorias{

}
.fondoprice{

    background: rgb(49,92,101);
    background: linear-gradient(90deg, rgba(49,92,101,1) 9%, rgba(50,38,38,1) 100%);
}
.medio{

    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}


.modalon{

    background: rgb(49,92,101);
    background: linear-gradient(90deg, rgba(49,92,101,.3) 9%, rgba(50,38,38,.5) 100%);

}

.modalon2{
   color: white;
    background-color: black !important;
    background: linear-gradient(90deg, rgba(49,92,101,.9) 9%, rgba(50,38,38,.7) 100%) !important;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

